.playerList {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  list-style: none;
}

.NewGameForm {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23ff0038' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.gameSettingsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
}

.homeBtn {
  float: left;
  text-decoration: none;
  margin-top: -22px;
  margin-left: -12px;
  color: #1f1f1f;
  font-weight: 500;
  position: fixed;
}
